<!DOCTYPE html>
<html>
  <head>
    <title>IoTDash</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>

  <script src='/socket.io/socket.io.js'></script>  
  <script>  
    let socket = io();

    socket.on('update', function(msg){
      buildView(msg.device, msg.state);
    });

    function buildView(device, state) {  
        let status = state ? '<span style="color: green">ON</span>' : '<span style="color: red">OFF</span>';

        let negatedState = !state;
        let buttonLabel = state ? 'Off' : 'On';
        let button = `<button onClick="socket.emit('${device}', ${negatedState})">Switch ${buttonLabel}</button>`;

        if (document.getElementById(device) === null) {
            document.getElementById('main').innerHTML += `
                <section id="${device}">
                <img src="/images/${device}.png">
                <p>${device}: ${status}</p>
                ${button}
                </section>
            `;
        } else {
            document.getElementById(device).innerHTML = `
                <img src="/images/${device}.png">
                <p>${device}: ${status}</p>
                ${button}
            `;
        }
    }
  </script>  
</html>
